@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,300;0,400;0,500;0,700;1,300;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Bai Jamjuree', sans-serif;
	background-image: url(../img/bg-header-desktop.png);
  	background-repeat: no-repeat;
  	
}

h1, h3 {
	color: #4C555C;
}

p {
	color: hsl(203, 5%, 67%);
}

header {
	text-align: center;
	margin: 20vh 0 25.6vh 0;
}

header img {
	height: 125px;
	width: 125px;
	margin-bottom: 11vh;
}

header h1 {
	margin-left: 27.45vw;
	margin-right: 27.45vw;
}

header p {
	margin-top: 6.4vh;
	margin-left: 27.81844802342606vw;
	margin-right: 27.81844802342606vw;
	color: hsl(203, 5%, 67%);
}

header button {
	height: 55px;
	width: 225px;
	border-radius: 50px;
	margin: 50px 15px 0 0;
	color: white;
	font-size: 16px;
	font-weight: 600;	
}

header button:nth-child(2n) {
	border: none;
	background-color: #24BCA7;

}

header button:nth-child(2n+1) {
	border: none;
	background-color: #6174FF;
}

/******************section1*****************/

.section-1 {
	text-align: center;
}

.section-1 img{
	max-width: 100%;
	height: auto;
}

.section-1 p {
	color: hsl(203, 5%, 67%);
	margin: 6.4vh 27.452415812591507vw 13.44vh 27.452415812591507vw;
}

.section-1-flex {
	display: flex;

}

.section-1-flex ul{
	list-style-type: none;
	margin: 0 0 0 8vw;
	text-align: left;
}

.section-1-flex ul li:nth-child(2n+1) {
	margin-top: 70px;
	margin-bottom: 20px;	
}

.section-1-flex ul li:nth-child(2n) {
	color: hsl(203, 5%, 67%);
	margin-right: 200px;	
}

/******************section1*****************/


/******************section2*****************/

.section-2 {
	margin-top: 25.6vh;
	text-align: center;
}

.section-2 p {
	color: hsl(203, 5%, 67%);
	margin: 6.4vh 27.8vw 19vh 27.8vw;
}

/******************section2*****************/

/******************section3*****************/

.section-3 h1 {
	text-align: center;
}


.section-3-flex {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 0 0;
}


.table {
	
}

/******************section3*****************/


footer {
	height: 150px;
	width: 100%;
	background-color: #f5f6f8;
	
}

.footer {
	display: flex;
	justify-content: space-around;
}

.footer-logo img{
	margin: 50px 0 0 0;
	height: 55px;
    width: 55px;
}

.footer-section-faq {
	margin: 50px 0 0 0;	
}

.footer-section-faq ul{
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	list-style-type: none;
}

.footer-section-faq ul li{
	
}

.footer-section-logo {
	margin: 50px 0 0 0;
	display: inline-block;
}

.footer-section-logo ul li{
	list-style-type: none;
}

.footer-section-logo ul li img{
	list-style-type: none;
	
}



@media screen and (max-width: 320px) {
	body {
		background-image: url("img/bg-header-mobile.png");
	}

	.section-1-flex {
		display: flex;
		flex-direction: column;
	}

	footer {
		display: flex;
		flex-direction: column;
	}
}