@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,300;0,400;0,500;0,700;1,300;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Bai Jamjuree', sans-serif;
	background-image: url(../img/bg-header-desktop.png);
  	background-repeat: no-repeat;
  	
}

header {
	text-align: center;
	margin: 20vh 0 25.6vh 0;
}

header img {
	height: 125px;
	width: 125px;
	margin-bottom: 11vh;
}


footer {
	height: 150px;
	width: 100%;
	background-color: #f5f6f8;
	
}

.section-1 {
	align-items: center;
}

.footer {
	display: flex;
	justify-content: space-around;
}

.footer-logo img{
	margin: 50px 0 0 0;
	height: 55px;
    width: 55px;
}

.footer-section-faq {
	margin: 50px 0 0 0;	
}

.footer-section-faq ul{
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	list-style-type: none;
}

.footer-section-faq ul li{
	
}

.footer-section-logo {
	margin: 50px 0 0 0;
	display: inline-block;
}

.footer-section-logo ul li{
	list-style-type: none;
}

.footer-section-logo ul li img{
	list-style-type: none;
	
}

